body {
  background-color: #cccccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  margin-top: 1.2rem;

  width: 100%;
  padding: 0.9rem 2rem;

  color: #ffffff;
  background-color: #230e27;

  font-size: 1rem;

  border-radius: 5px;
  border: none;

  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #230e27;
}

input {
  width: 60%;
  height: 10px;
  padding: 0.9rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 0;
  margin: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #009e9e;
}

.container {
  background-color: #230e27;
  margin: auto;

  width: 600px;

  border-radius: 10px;
  overflow: hidden;
}

.title {
  color: #fecd23;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.description {
  color: #cccccc;
  padding-bottom: 20px;
  text-align: center;
}

.subcontainer {
  background-color: #591c63;
  margin: 30px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.form-title {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.cards {
  color: #ffffff;
  display: flex;

  justify-content: space-between;
  padding: 20px;
}

.card-esportes {
  width: 20%;
  text-align: center;
  border-width: 10px;
  border-style: solid;
  border-color: #2638db;
  background-color: #3560ef;
  border-radius: 5px;
  padding: 20px;
}

.card-simulacao {
  width: 20%;
  text-align: center;
  border-width: 10px;
  border-style: solid;
  border-color: #2638db;
  background-color: #3560ef;
  border-radius: 5px;
  padding: 20px;
}

.card-estrategia {
  width: 20%;
  text-align: center;
  border-width: 10px;
  border-style: solid;
  border-color: #2638db;
  background-color: #3560ef;
  border-radius: 5px;
  padding: 20px;
}

.card-title {
  text-align: center;
  font-size: 24px;
}

.cards-image {
  padding-top: 20px;
  text-align: center;
}

.card-button {
  padding-top: 20px;
}

.footer {
  font-size: 10px;
  text-align: center;

  margin: -25px 0 10px 0;
  color: #ffffff;
}

@media screen and (max-width: 620px) {
 

  .flex-container {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }
  .card-esportes,
  .card-simulacao,
  .card-estrategia {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .container {
    width: 95%;
  }

  .header {
    padding: 15px;
  }
}
